<div class="container">
	<!-- code here -->
	<div class="card">
		<div class="card-image">	
			<h2 class="card-heading">
				<%= t('get_started') %>
				<small><%= t('let_us_create_your_account') %></small>
			</h2>
		</div>
		<%= form_for(resource, as: resource_name, url: session_path(resource_name), :html => {:class => "new_user card-form"}) do |f| %>
			<%= render "devise/shared/error_messages", resource: resource %>
            <div class="input">
				<input type="text" class="input-field" value="Alexander Parkinson" required/>
				<label class="input-label"> <%= t('full_name') %> </label>
			</div>
			<div class="input">
				<%= f.email_field :email, class: "input-field", autofocus: true, value: "your@email.com", required: true %>
				<label class="input-label"><%= t('email') %></label>
			</div>
			<div class="input">
				<%= f.password_field :password, class: "input-field", autofocus: true, value: "password", required: true %>
                <% if @minimum_password_length %>
                    <em><%= t('devise.shared.minimum_password_length', count: @minimum_password_length) %></em>
                <% end %><br />
				<label class="input-label"> <%= t('password') %> </label>
			</div>
			<div class="input">
				<%= f.password_field :password_confirmation, class: "input-field", autofocus: true, value: "password confirmation", required: true %>
				<label class="input-label"> <%= t('password_confirmation') %> </label>
			</div>
			<div>
				<%= f.button t('.sign_up'), name: 'commit', value: 'save', id: "action-button" %>
			</div>
		<% end %>
		<div class="card-info">
      <%= t('terms_and_conditions_html') %>
		</div>
	</div>
</div>

<%= render "devise/shared/links" %>
