<nav class="nav">
    <div class="container">
        <div class="logo">
            <%= link_to root_path do %>
                <%= image_tag 'kn-logo1.png' %>
            <% end %>
        </div>
        <div id="mainListDiv" class="main_list">
            <ul class="navlinks">
            
            <li class="nav-item"> 
                <%= link_to t('home.navbar.event_list'), events_path, class:"nav-link" %>
            </li>
            <li class="nav-item">
                <% if user_signed_in? %>
                    <%= link_to t('home.navbar.create_event'), new_event_path, class:"nav-link" %>
                <% else %>
                    <%= link_to t('home.navbar.create_event'), new_user_session_path, class:"nav-link" %>
                <% end %>
            </li>

            <% if user_signed_in? %>
                <li class="nav-item">
                    <!-- :method => :delete is replaced by data: { "turbo-method": :delete } due to a bug in devise's javascript interface in Rails 7 -->
                    <%= link_to "Sign out", destroy_user_session_path, data: { "turbo-method": :delete }, class:"nav-link" %>
                </li>

                <li class="nav-item">
                    <%= link_to "Edit Profile", edit_user_registration_path, class:"nav-link" %>
                </li>

            <% else %>
                <li class="nav-item">
                    <%= link_to "Sign Up", new_user_registration_path, class:"nav-link" %>
                </li>

                <li class="nav-item">
                    <%= link_to "Sign In", new_user_session_path, class:"nav-link" %>
                </li>
            <% end %>

            </ul>
        </div>
        <span class="navTrigger">
            <i></i>
            <i></i>
            <i></i>
        </span>
    </div>
</nav>

    <section class="home">
    </section>

<!-- Jquery needed -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="js/scripts.js"></script>

<!-- Function used to shrink nav bar removing paddings and adding black background -->
    <script>
        $(window).scroll(function() {
            if ($(document).scrollTop() > 50) {
                $('.nav').addClass('affix');
                console.log("OK");
            } else {
                $('.nav').removeClass('');
            }
        });
    </script>