<div id="<%= dom_id event %>">
  <p>
    <strong>Photo file name:</strong>
    <%= event.photo_file_name %>
  </p>

  <p>
    <strong>Organizer:</strong>
    <%= event.organizer %>
  </p>

  <p>
    <strong>Phone number:</strong>
    <%= event.phone_number %>
  </p>

  <p>
    <strong>Title:</strong>
    <%= event.title %>
  </p>

  <p>
    <strong>Type:</strong>
    <%= event.event_type %>
  </p>

  <p>
    <strong>Date time:</strong>
    <%= event.date_time %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= event.description %>
  </p>

  <p>
    <strong>Participant count:</strong>
    <%= event.participant_count %>
  </p>

  <p>
    <strong>Address:</strong>
    <%= event.address %>
  </p>

  <p>
    <strong>Directions:</strong>
    <%= event.directions %>
  </p>

</div>
