<p id="kn-subtitle"><%= event.title %></p>

<%= form_with(model: event, :html => {:class => " g-3"}) do |form| %>
  <div class="row">
    <div class="col-md-3">
      <%= render 'attachment', :event => @event %>
    </div>
    <div class="col-md-9">
      <div class="pb-3" style="border: 1px solid #1d1e31">
        <span id="kn-label"><%= form.label :event_organizer %>:</span>
        <span id="kn-value"><%= event.event_organizer %></span>
      </div>
      <div class="row">
        <div class="col-md-6" style="border: 1px solid #1d1e31">
          <span id="kn-label"><%= form.label :phone_number %>:</span>
          <span id="kn-value"><%= event.phone_number %></span>
        </div>
        <div class="col-md-6" style="border: 1px solid #1d1e31">
          <span id="kn-label"><%= form.label :event_type %>:</span>
          <span id="kn-value"><%= event.event_type %></span>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6" style="border: 1px solid #1d1e31">
          <span id="kn-label"><%= form.label :date %>:</span>
          <span id="kn-value"><%= event.date %></span>
        </div>
        <div class="col-md-6" style="border: 1px solid #1d1e31">
          <span id="kn-label"><%= form.label :time %>:</span>
          <span id="kn-value"><%= event.time %></span>
        </div>
      </div>
      <div class="pb-3" style="border: 1px solid #1d1e31">
        <span id="kn-label"><%= form.label :participant_count %>:</span>
        <span id="kn-value"><%= event.booking_count %> of <%= event.participant_count %></span>
      </div>
    </div>
  </div>

  <div class="form-group">
    <p id="kn-label"><%= form.label :description %>:</p>
    <span id="kn-value"><%= event.description %></span>
  </div>

  <div class="form-group">
    <p id="kn-label"><%= form.label :address %>:</p>
    <span id="kn-value"><%= event.address %></span>
  </div>

  <div class="form-group">
    <p id="kn-label"><%= form.label :directions %>:</p>
    <span id="kn-value"><%= event.directions %></span>
  </div>
<% end %>
