
<div id="<%= dom_id event %>">

    <div class="row">
     
        <div class="col-sm-2">
            <%= event.date_time.strftime("%a %d %b %H:%M") unless event.date_time.nil? %>
        </div>

        <div class="col-sm-6">
            <%= event.title %>
        </div>

        <div class="col-sm-2">
            <%= "#{event.bookings.count} / #{event.participant_count}" %>
        </div>

        <div class="col-sm-2">
            <%= event.organizer.pseudo %>
        </div>

    </div>

</div>