<div id="<%= dom_id event %>">
  
  <table class="table">

    <tbody>
      <tr>
        <th scope="row" class="w-25"> <%= event.date_time.strftime("%a %d %b %H:%M") %> </th>
        <td> <%= event.title %> </td>
        <td class="w-25"> <%= event.participant_count %> </td>
        <td class="w-25"> <%= event.organizer %></td>
      </tr>
    </tbody>

  </table>

</div>


