<div id="<%= dom_id event %>">
  
  <table class="table" style="color: white;">

    <tbody>
      <tr>
        <th scope="row" class="w-25"> <%= event.date_time.strftime("%a %d %b %H:%M") %> </th>
        <td class="w-50"> <%= event.title %> </td>
        <td class="w-25"> <%= event.participant_count %> </td>
        <td class="w-25"> <%= event.organizer.pseudo %></td>
      </tr>
    </tbody>

  </table>

</div>


