
<div id="events">

  <div class="container">

    <div class="row table_header">
        <div class="col-sm-2"> <%= t '.date' %> </div>
        <div class="col-sm-6"> <%= t '.event' %> </div>
        <div class="col-sm-2"> <%= t '.registration' %> </div>
        <div class="col-sm-2"> <%= t '.organizer' %> </div>
    </div>

    <% @events.each do |event| %>

      <%= link_to event do %>
        <%= render event %>
      <% end %>

    <% end %>

  </div>

</div>

<div class="container">
  <%= link_to t('.new_event'), new_event_path, class:"btn btn-secondary", id:"kn-button" %>
</div>

<div id="react_root">React Root</div>
