

<%= render 'event_details', :event => @event %>

<nav class="nav" style="position: relative">
  <div class="main_list">
    <ul>
        <li>
          <%= link_to t('.modify_event'), edit_event_path(@event), id: "kn-button" %>
        </li>

        <li>
          <%= link_to t('.list_of_events'), events_path, id: "kn-button" %>
        </li>

        <li>
          <%= link_to t('.register_event'), register_to_event_path(@event), id: "kn-button" %>
        </li>
        
        <li>
          <%= link_to t('.cancel_event'), @event, method: :delete, id: "kn-button" %>
        </li>

    </ul>
  </div>
</nav>


