

<br/><br/><br/>


  <div class="container">
    <!-- code here -->
    <div class="card">

      <div class="card-image">	
        <h2 class="card-heading">
          Get started
          <small>Let us create your account</small>
        </h2>
      </div>

      <%= form_for(resource, as: resource_name, url: session_path(resource_name), :html => {:class => "new_user card-form"}) do |f| %>
        <div class="input">
          <input type="text" class="input-field" value="Alexander Parkinson" required/>
          <label class="input-label">Full name</label>
        </div>
        <div class="input">
          <%= f.label :email, class: "input-label", value: "your@email.com", required: true, autocomplete: "email" %> <br />
          <%= f.email_field :email, class: "input-field", autofocus: true, autocomplete: "email" %>
        </div>
        <div class="input">
          <%= f.label :password, class: "input-label" %><br />
          <%= f.password_field :password, class: "input-field", autocomplete: "current-password" %>
        </div>
        <div class="action">
          <button class="action-button">Log in</button>
        </div>
      <% end %>

      <div class="card-info">
        <p>By signing up you are agreeing to our <a href="#">Terms and Conditions</a></p>
      </div>

    </div>
  </div>



<%= render "devise/shared/links" %>