<div class="container">
	<!-- code here -->
	<div class="card">
		<div class="card-image">	
			<h2 class="card-heading">
				Welcome back !
				<small>Log in to see current events</small>
			</h2>
		</div>
		<%= form_for(resource, as: resource_name, url: session_path(resource_name), :html => {:class => "new_user card-form"}) do |f| %>
			<%= render "devise/shared/error_messages", resource: resource %>
			
			<div class="input">
				<%= f.email_field :email, class: "input-field", autofocus: true, value: "your@email.com", required: true %>
				<label class="input-label">Email</label>
			</div>
			<div class="input">
				<%= f.password_field :password, class: "input-field", autofocus: true, value: "password", required: true %>
				<label class="input-label">Password</label>
			</div>
			
			<div>
				<%= f.button "Log in", name: 'commit', value: 'save', id: "action-button" %>
			</div>
		<% end %>
		<div class="card-info">
			<p>By signing up you are agreeing to our <a href="#">Terms and Conditions</a></p>
		</div>
	</div>
</div>

<%= render "devise/shared/links" %>
